.carousel-item{
  width: 100%;
}

.carousel-indicators {
  margin-bottom: 10px;
}

.carousel-content .carousel-indicators li{
  background-color: black;
  border-radius: 20px;
  width: 6px;
  height: 6px;
  border-top: 0px;
  border-bottom: 0px;
}

.carousel-item iframe{
  width: 100%;
  height: 100%;
}

.height-vh {
  height: 100vh;
}

.carousel-control-prev, .carousel-control-next {
  display: none !important;
}

.edit-to-config {
  position: fixed;
  left: 5px;
  bottom: 5px;
  cursor: pointer;
  opacity: 0;
  transition: 1.3s;
}

.dashboard-content:hover .edit-to-config{
  opacity: 1;
}

.widget-container iframe, .widget-container twitter-widget{
  width: 100% !important;
  height: 100% !important;
}

.custom-grid-item.publish-grid {
  border: 3px solid #f1f3f4;
}
